### If else Statement in python  
Conditional statement executing one block if true, another if false.

1. If-else statement: Executes code based on a condition.
2. Nested if-else statement: Conditional statement within another.
3. Chained if-else statement: Multiple conditions checked sequentially.

##### If-else statement

In [1]:
a = 5
b = 10 
if (a<b):
    print('b is greatest number')
else : 
    print('a is greatest number')

b is greatest number

In [2]:
a = int(input("Enter the first number : "))
b = int(input("Enter the second number : ")) 
if (a<b):
    print('b is greatest number')
else : 
    print('a is greatest number')

Enter the first number : 50
Enter the second number : 2
a is greatest number

##### Nested if-else statement

In [4]:
a = 30 
b = 20 
c = 40 
if a<=b :
    if c<=a:
        print("c is smallest")
    else :
        print("a is smallest")
else : 
    print("b is smallest")

b is smallest

##### Chained if-else statement

In [5]:
a = 30 
b = 20 
c = 40 
if a<b:
    print('a is smallest')
elif b<c:
    print('b is smallest')
else :
    print('c is smallest')

b is smallest

### For Loop
Iterates over a sequence, executing code repeatedly.

In [4]:
for i in range(5):  # index 0,1,2,3,4
    print = int(input("enter the price of laptop : "))

enter the price of laptop : 800000
enter the price of laptop : 65000
enter the price of laptop : 125000
enter the price of laptop : 265000
enter the price of laptop : 654987

In [13]:
import builtins # if error occured TypeError: 'int' object is not callable
print = builtins.print

In [14]:
a = [1, 2, 3, 45, 6, 7, 8]
for i in a:
    print(i)

1
2
3
45
6
7
8

In [19]:
h = eval(input("Enter diamond's height: "))
for x in range(h):
    print(" " * (h - x), "*" * (2*x + 1))
for x in range(h - 2, -1, -1):
    print(" " * (h - x), "*" * (2*x + 1))

Enter diamond's height: 8
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [20]:
h = eval(input("Enter diamond's height: "))
for x in range(h):
    print(" " * (h - x), "*" * (2*x + 1))

Enter diamond's height: 8
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************

In [21]:
rows = 6
# if you want user to enter a number, uncomment the below line
# rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
rows = 5
# reverse loop
for i in range(rows, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [24]:
rows = 6
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [25]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [26]:
number = int(input ("Enter the number of which the you wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 5
The Multiplication Table of:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### While Loop 
A while loop repeatedly executes code as long as a condition is true.

In [18]:
i = 10 
while i >= 0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [27]:
number = int(input ("Enter the number of which you wants to print the multiplication table: "))      
count = 1    
# we are using while loop for iterating the multiplication 10 times      
print ("The Multiplication Table of: ", number)    
while count <= 10:    
    number = number * 1    
    print (number, 'x', i, '=', number * count)    
    count += 1

Enter the number of which the user wants to print the multiplication table: 10
The Multiplication Table of:  10
10 x 4 = 10
10 x 4 = 20
10 x 4 = 30
10 x 4 = 40
10 x 4 = 50
10 x 4 = 60
10 x 4 = 70
10 x 4 = 80
10 x 4 = 90
10 x 4 = 100

In [ ]:
# if condition is not true in while loop then
i = 5
while i<3:
    print(i)
    i+=1

In [ ]:
a = 1
a