Types of Objects in Python : 
1. Immutable Objects :Cannot be changed after creation.

_________________________________________________________________________
1. int 
2. float
3. string
4. bool 
5. tuple 
_________________________________________________________________________
2. Mutable Objects :Can be changed after creation.
_________________________________________________________________________
1. List 
2. Set 
3. Dictionary

#### List 
1. Ordered, mutable collection of elements.
2. It should be included in the square brackets Representation : [  ]
3. It can have multipe data types . 
4. It allow duplicate or repeted values

In [2]:
a = [1,2,3,4,5,6,7,8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
type(a)

list

In [4]:
b = [ 1,2,3,'hi', True]
b

[1, 2, 3, 'hi', True]

In [5]:
b.append(6) #append() is a method in Python used to add a new element to the end of a list

In [6]:
b

[1, 2, 3, 'hi', True, 6]

In [7]:
# print element by their index
print(b[2:5])

[3, 'hi', True]

In [8]:
print(a[2])

3

In [9]:
# list allow duplicate values 
c = [1,1,2,2,3,4,5]
c

[1, 1, 2, 2, 3, 4, 5]

In [10]:
print(len(c)) # len is used for checking the size of list

7

In [11]:
# initiating an empty list 
d = []
d.append(5) # after creating empty list and adding values one by one 
d

[5]

In [12]:
# delete the element from a list 
print(len(a))
print(a)
del a[5]
print(a)

9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 7, 8, 9]

In [13]:
# join two list 
e = a+b 
print(e ) # it will concat the two list

[1, 2, 3, 4, 5, 7, 8, 9, 1, 2, 3, 'hi', True, 6]

#### Tuple 
1. A tuple in Python is an ordered, immutable collection of elements.
2. It should be included in the parentheses or round brackets . Representation : ( )
3. It also allow multipe data types .

In [14]:
a = (1,2,3,4,5,6)

In [15]:
a

(1, 2, 3, 4, 5, 6)

In [16]:
type(a)

tuple

In [17]:
# Conterting list into a tuple
f = tuple(a) # tuple() is used to convert list into a tuple 
print(f)

(1, 2, 3, 4, 5, 6)

#### Set 
1. Unordered, mutable collection of unique elements.
2. It should be included in the Curly brackets . Representation : { }
3. It do not allow duplicate or repeted values.
4. It Does not support indexing .
5. Union :Combines unique elements from both sets. x.union(y)
6. Intersection: Retrieves common elements between two sets. x.intersection(y)

In [18]:
a = {1,2,3,4,5,6,7,8}
print(a) 
print(type(a))
print(len(a))

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>
8

In [19]:
b = {5,6,7,8,9,10,11}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [20]:
print(a.intersection(b))

{8, 5, 6, 7}

In [22]:
c = [1,2,5,8,7,7,8]
d = set(c) # set() is used to convert list into a set
print(d)

{1, 2, 5, 7, 8}

#### Dictionary 
1.  Mutable collection of key-value pairs.
2.  Created with curly braces or dict() constructor.
3.  { key : Value }
4.  It do not allow duplicate or repeted values.

In [31]:
a = {1 : 'hi',2:'hello'}
print(a)
type(a)

{1: 'hi', 2: 'hello'}

dict

In [25]:
print(a[1])

hi

In [30]:
print(a[2])

hello

In [32]:
a = {1 : 'hi',2:'hello',1 : 'hi',2:'hello',3 : 'Good Morning'}
print(len(a))

3

In [33]:
print(a) # it does not allow duplicate values

{1: 'hi', 2: 'hello', 3: 'Good Morning'}