In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\utkar\anaconda\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\utkar\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\utkar\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\utkar\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\utkar\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\utkar\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\utkar\\100 days ML\\sample_submission.csv")

In [6]:
df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.5,0.5,0.5,0.5,0.5,0.5
1,0000247867823ef7,0.5,0.5,0.5,0.5,0.5,0.5
2,00013b17ad220c46,0.5,0.5,0.5,0.5,0.5,0.5
3,00017563c3f7919a,0.5,0.5,0.5,0.5,0.5,0.5
4,00017695ad8997eb,0.5,0.5,0.5,0.5,0.5,0.5

In [8]:
print("Machine Learning")

Machine Learning

!ls is to print all the files present in the enviroment

# Programming

Programing Languages used for ML are : 
1. Python 
2. R

### Print Function

In [11]:
print("Machine Learning") # "" ,'' both can be used but not like that " '

Machine Learning

In [13]:
print("Machine Learning" + " Project") # for joining two statement

Machine Learning Project

In [14]:
print(2)

2

In [16]:
print(2+8) # in case of number it will calculate it and print the values

10

### Basic Data types : 
1. Int 
2. Float 
3. Str

### Type()

In [18]:
type(8) # type() it will give which type of data is in used

int

In [19]:
type(8.5)

float

In [20]:
type("hello")

str

### Constants & Variables

In [23]:
a = "hello" 
# variable is like a container in which we store some values and these values can be changed but not in case of constants .

In [24]:
a

'hello'

In [25]:
print(a)

hello

In [30]:
a,b,c = 1,2,3 # we can assign the values by this way

In [31]:
a

1

In [32]:
b

2

In [33]:
c

3

In [34]:
a,b,c

(1, 2, 3)

In [35]:
a =b =c = 5 # this is how we will implement single value to multiple varibles

In [37]:
a,b,c # python is case sentive language

(5, 5, 5)

### Input

In [39]:
num1 = input("Enter the first number : ")
num2 = input("Enter the Second number : ")
sum = num1 + num2 
print(sum) #It will not calculate the numbers; it will concatenate them as strings by default in Python.

Enter the first number : 50
Enter the Second number : 65
5065

In [41]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the Second number : "))
sum = num1 + num2 
print(sum) #By changing the type,we can perform calculations on them as numbers.

Enter the first number : 80
Enter the Second number : 52
132

#### Changing the data types

In [42]:
num = 8 
a = float(num )
b = str(num)

In [44]:
print(num)
type(num)
print(a)
type(a)
print(b)
type(b)

8
8.0
8

str

Basic data types in python :

1. Integer: Whole numbers without decimals.
2. Floating Point: Numbers with decimal points.
3. Complex: Numbers with real and imaginary parts.
4. Boolean: Represents true or false values.
5. String: Sequence of characters enclosed in quotes.

#### Integers

In [45]:
a = 8  
print(a)

8

In [46]:
type(a)

int

#### Floating

In [47]:
b = 2.3 
print(b)
type(b)

2.3

float

#### Complex Number

In [48]:
c = 1+5j
print(c)
type(c)

(1+5j)

complex

#### Boolean

In [51]:
a = True
print(a)
type(a)
b = int(a)
print(b)

True
1

For comparing two values, the boolean data type is used.

In [52]:
a = 7<8
print(a)

True

In [56]:
a = 7>8
print(a)
print(type(a))
int(a)

False
<class 'bool'>

0

#### String

In [58]:
print("Machine Learning ")

Machine Learning

In [60]:
a = "Machine Learning "
print(a)
type(a)

Machine Learning

str

In [62]:
print(a*5) # Printing the same value 5 times

Machine Learning Machine Learning Machine Learning Machine Learning Machine Learning

Slicing

In [65]:
print(a[1:5]) # values from index 1 to 5-1 will be sliced

achi

In [66]:
print(a[1:])

achine Learning

In [67]:
print(a[1: : 2]) # Values will be printed with a gap of 2. or Called as STEP

ahn erig


String Concatenation

In [69]:
a = "hello"
b = "world"
c = a + " "+ b 
print(c)

hello world

In [70]:
a = "Hello"
b = "world"
result = "{} {}".format(a, b)  # Using format()
print(result)

Hello world

In [71]:
a = "Hello"
b = "world"
result = " ".join([a, b])  # Joining with a space
print(result)

Hello world